html, body {
  height: 100%;
}

body {
  background-image: url("../images/New-Lunch.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  opacity: 0.9;
  z-index: 1000;
}